RESEND_API_KEY=your_resend_api_key_here
BOOKING_EMAIL_TO=cheesedogsofnc@gmail.com
BOOKING_EMAIL_FROM=Cheesedogs Website <bookings@cheesedogsnc.com>
GOOGLE_CALENDAR_ICS_URL=https://calendar.google.com/calendar/ical/cheesedogsofnc%40gmail.com/public/basic.ics
